<header>
<h1> Data Protection Impact Assessment </h1>
  <div>
    <dl>
  
      {%- set ProjectNamePath = [uuids.adminDetailsCUuid, uuids.projectNameQUuid]|reply_path -%} 
      {%- set ProjectName = repliesMap[ProjectNamePath]|reply_str_value -%}

      
      {%- if ProjectName -%}
        <p> Project name : {{ ProjectName }} </p>
      {%- endif -%} 
    

      

        <dt>Based on</dt>
        <dd>{{ ctx.package.name }}, {{ ctx.package.version }} (<span class="package-id"><span class="organization-id">{{ ctx.package.organizationId }}</span>:<span class="km-id">{{ ctx.package.kmId }}</span>:<span class="version">{{ ctx.package.version }}</span></span>)</dd>
        
        {%- if ctx.createdBy -%}
        <dt>Created by</dt>
        <dd><span class="contact-name">{{ ctx.createdBy.firstName }} {{ ctx.createdBy.lastName }}</span></dd>
        {%- endif -%}

        {% for version in ctx.questionnaireVersions if version.uuid == ctx.questionnaireVersion %}
        <dt>Version</dt>
        <dd>{{version.name}} ({{ version.createdAt|datetime_format("%d %b %Y") }})</dd>
        {% endfor %}

        <dt>Generated on</dt>
        <dd>{{ ctx.createdAt|datetime_format("%d %b %Y") }}</dd>
    </dl>
    <p class="dsw">
      Data Management Plan created in Data Stewardship Wizard &laquo;<a href="https://biohack.ds-wizard.org/" target="_blank">learning.ds-wizard.org</a>&raquo;
    </p>

  </div>
</header>


