<div id="admin-info" class="question">
  
  <div class="answer">
    
    {%- set projectNamePath = [uuids.adminDetailsCUuid, uuids.projectNameQUuid]|reply_path -%} 
    {%- set projectName = repliesMap[projectNamePath]|reply_str_value -%}

    {%- if projectName -%}
      <h3> Project name  </h3>
    <p> {{ projectName }} </p>
  {%- endif -%} 

  {%- set contributorsPath = [uuids.adminDetailsCUuid, uuids.contributorsQUuid]|reply_path -%}
  {%- set contributorsUuids = repliesMap[contributorsPath]|reply_items -%}

  {%- if contributorsUuids -%}

    <h3> Contributors </h3>

    {%- for contributorsUuid in contributorsUuids -%}
      
      {%- set contributorPath = [uuids.adminDetailsCUuid, uuids.contributorsQUuid, contributorsUuid]|reply_path -%}
      {%- set contributorNamePath = [uuids.adminDetailsCUuid, uuids.contributorsQUuid, contributorsUuid, uuids.contributorNameQUuid]|reply_path -%}
      
      {%- set contributorName = repliesMap[contributorNamePath]|reply_str_value -%}

      {%- if contributorName -%}
        <p> Contributor name: {{ contributorName }}  </p>
      {%- endif -%}
    {%- endfor -%}
    
  {%- endif -%}

  {%- set methodPath = [uuids.adminDetailsCUuid, uuids.methodQUuid]|reply_path -%}
  {%- set method = repliesMap[methodPath]|reply_str_value -%}

  {%- if method -%}
    <h3> Method followed to carry out the DPIA </h3>
    <p>  {{ method }} </p>
  {%- endif -%} 
  
  {%- set infoSystemToolQPath = [uuids.adminDetailsCUuid, uuids.infoSystemToolQUuid]|reply_path -%}
  {%- set reply = repliesMap[infoSystemToolQPath] -%}
  {%- set replyValue = reply|reply_str_value -%}

  {%- if replyValue -%}
    {%- set answer = km.entities.answers[replyValue] -%}

    <h3> Are you using a research information system to support the DPIA? </h3>
    <p> {{answer.label}}
    </p>
  {%- endif -%} 

  
  {%- set riskAssessToolQPath = [uuids.adminDetailsCUuid, uuids.riskAssessToolQUuid]|reply_path -%}
  {%- set reply = repliesMap[riskAssessToolQPath] -%}
  {%- set replyValue = reply|reply_str_value -%}

  {%- if replyValue -%}
    {%- set answer = km.entities.answers[replyValue] -%}

    <h3> Are you using a risk assessment tool to support the DPIA?</h3>
    <p> {{answer.label}}
    </p>
  {%- endif -%} 

  
  


  
  </div>


</div>

