<div id="need-for-a-dpia" class="question">
 
  <div class="answer">

  {%- set needDpiaPath = [uuids.needForDpiaCUuid, uuids.whyDPIAQUuid, ]|reply_path -%}
  {%- set needDpiaItems = repliesMap[needDpiaPath]|reply_items -%}

  {%- set otherReasonsPath = [uuids.needForDpiaCUuid, uuids.dpiaOtherReasonQUuid]|reply_path -%}
  {%- set otherReasonsAUuid = repliesMap[otherReasonsPath]|reply_str_value-%}

  {%- if needDpiaItems or otherReasonsAUuid-%}
   {# <p> {{ needDpiaAUuid }} </p> #}
   
   

      <h3> A DPIA is deemed necessary for the project as: </h3>
            
      {% for choiceUuid in needDpiaItems %}
      <ul>
      <li>
      {{ km.entities.choices[choiceUuid].label }}
      </li>
      </ul>
      {% endfor %}
          
      <ul>
      <li>        
      <p> {{ otherReasonsAUuid }} </p>
      </li>
      </ul>
      
        </li> 
      </ul>  

  {%- endif -%} 

  {%- set methodPath = [uuids.adminDetailsCUuid, uuids.methodQUuid]|reply_path -%} 
      {%- set method = repliesMap[methodPath]|reply_str_value -%}

       {%- if method -%}
        <h3> Method followed to carry out the DPIA </h3>
        <p>  {{ method }} </p>
      {%- endif -%} 

    

      

  </div>
</div>