<div id="process_assets" class="question">
 
  <div class="answer">

  {%- set categoriesOfDataPath = [uuids.processes_assetsCUuid, uuids.categoriesofdataQUuid]|reply_path -%}
  {%- set categoriesOfData = repliesMap[categoriesOfDataPath]|reply_items-%}

{%- set listOfProjectPath = [uuids.processes_assetsCUuid, uuids.listOfProjectsQUuid]|reply_path -%}
{%- set listOfProject = repliesMap[listOfProjectPath]|reply_str_value-%}

{%- if listOfProject -%}
    <h3> Listing of project data </h3>
     <ul>
     <li>
     <p> {{ listOfProject }} </p>
     </li>
     </ul>
{%- endif -%} 

{%- set dataLifeCyclePolicyPath = [uuids.processes_assetsCUuid, uuids.dataLifecyclePolicyQUuid]|reply_path -%}
{%- set dataLifeCyclePolicy = repliesMap[dataLifeCyclePolicyPath]|reply_str_value-%}

{%- if dataLifeCyclePolicy -%}
    <h3> Life cycle of data and policies </h3>
     <ul>
     <li>
     <p> {{ dataLifeCyclePolicy }} </p>
     </li>
     </ul>
{%- endif -%} 

{%- set projectDataflowPath = [uuids.processes_assetsCUuid, uuids.projectDataFlowQUuid]|reply_path -%}
{%- set projectDataflow = repliesMap[projectDataflowPath]|reply_str_value-%}

{%- if projectDataflow -%}
    <h3> Project data flows </h3>
     <ul>
     <li>
     <p> {{ projectDataflow }} </p>
     </li>
     </ul>
{%- endif -%} 

{%- set projectAssetsPath = [uuids.processes_assetsCUuid, uuids.projectAssetsQUuid]|reply_path -%}
{%- set projectAssets = repliesMap[projectAssetsPath]|reply_str_value-%}

{%- if projectAssets -%}
    <h3> Data supporting assets  </h3>
     <ul>
     <li>
     <p> {{ projectAssets }} </p>
     </li>
     </ul>
{%- endif -%} 

  </div>
</div>