<div id="dpia-content">
    <section id="need-for-a-dpia" class="dpia-section">
        <h2>Section A: Identification of the need for a DPIA  </h2>

        {% include "src/questions/need.html.j2" with context %} 
         
         

    </section>

     <section id="context" class="dpia-section">
        <h2>Section A: Context Extablishment  </h2>

        {% include "src/questions/context.html.j2" with context %} 
         
         

    </section>

</div>






    




 