{# Used UUID Paths #}
{# Chapter 1 - Administrative details #}
{%- set adminDetailsCUuid = "887a2b4e-cbcc-4777-890e-477bf360eaf8" -%}

{%- set contributorsQUuid = "eb544f6c-37c5-4dbf-bae6-1e2178c1b09f" -%}
{%- set contributorNameQUuid = "cfdb7088-900a-4712-911d-1f6c77962861" -%}
{%- set projectNameQUuid = "91321d3c-fd30-4fde-82da-994488a7b877" -%}
{%- set methodQUuid = "efe1f6b9-f60f-46c3-88ad-ca1f5c18351b" -%}
{%- set infoSystemToolQUuid = "fbe7cd61-a4d0-4578-aa63-b4685f6352cc" -%}
{%- set infoSystemToolYesAUuid = "003847c5-57b4-4f97-ab07-dcb44b72c80b" -%}
{%- set riskAssessToolQUuid = "5e4914eb-3aed-4c61-bbc0-9017d2f00b3b" -%}
{%- set riskAssessToolYesAUuid = "9e7245e9-0f98-4b52-a3b8-08830dbf0050" -%}

{# Chapter 2 - Need for a DPIA #}

{%- set needForDpiaCUuid = "a67c8b46-80a9-471a-a664-a4b4215e64fe" -%} 

{%- set whyDPIAQUuid = "1f355f08-8e08-4819-8546-df8a78fc18e6" -%}
{%- set vulnerableSubjectsAUuid = "f6f5def0-2638-4495-985f-889a1666fb46" -%} 
{%- set sensitiveDataAUuid = "f5b79efc-4ee0-4778-9cc9-ab45ac7a7d80" -%}
{%- set largeScaleStudyAAUuid = "13e3f54c-e782-48c2-a792-fa4f79d489ca" -%}
{%- set automatedDecisionAAUuid = "c0208d58-dfc3-4641-b63b-c10a45c848ff" -%}
{%- set subjectPerformanceAUuid = "356c4b11-8259-4bc2-8394-a127569e7b1a" -%}
{%- set systematicMonitoringAAUuid = "82acf3b8-458a-4fdd-8691-4edcd7e0f9ee" -%}
{%- set matchingDatasetAUuid = "9f02fa20-af96-486d-8958-c0c4c65fade6" -%}
{%- set innovativeUsedAUuid = "713a6824-61a0-45d0-979d-cd729e43e51c" -%}
{%- set subjectRightPreventionAUuid = "ca67dd8a-41d0-4542-9c35-f62b99d59f97" -%}
{%- set dpiaOtherReasonQUuid = "c57ca085-8a48-4e20-a506-84f7132388f4" -%} 

{#Chapter 3 - Context extablishment #}

{%- set contextCUuid = "8e425c23-f408-4aa0-ad81-31530dd7ac3d" -%}
{%- set projectOverviewQUuid = "862f19a5-76d9-484b-a5f4-ded1d93ac0c4" -%}
{%- set listResponsbilitiesQUuid = "19dee76a-abf6-4b44-b885-897c82e0aafa" -%}
{%- set standardsQUuid = "67771cc7-b613-42c9-967f-ade73d9979fc" -%}


{#Chapter 4 - Processes and supporting assets #}

{%- set processes_assetsCUuid = "5ee9fc10-434e-4fc3-99bc-4108abf01dad" -%}

{%- set categoriesofdataQUuid = "f60c4c4c-4644-46e9-9be7-14b8feff7fb3" -%}

{%- set standardPersonalDataAUuid = "68f62eb4-87d9-4942-915a-fecc5d2090cd" -%}
{%- set dataConcernHealthAUuid = "7d15b1ca-9b2a-446c-a349-24a31b34a203" -%}
{%- set geneticDataAUuid = "231d903a-7621-4dbf-9a86-1926eb9efe50" -%}
{%- set otherCathegorieAUuid = "996b08e5-2fbb-45b1-87f0-36fbf6239ae6" -%}

{%- set listOfProjectsQUuid = "b22b15b9-365f-4b79-b15c-b088463efe33" -%}

{%- set dataLifecyclePolicyQUuid = "304e3bc8-a240-455d-ad45-a13670dcdc0a" -%}

{%- set projectDataFlowQUuid = "aa03e757-f936-4172-9920-b3d34229f85c" -%}
{%- set projectAssetsQUuid = "f855a100-8070-4174-aeef-92ef124babfd" -%}

{#Chapter 5 - Proportionality and necessity of the processing #}

{%- set proportionality_processCUuid = "c238a8ef-9950-4573-a6b8-ec3e824fd15e" -%}

{%- set projectPurposesQUuid = "f44e9ab1-813e-4641-b980-243a6633ae76" -%}

{%- set GDPRLegalBasisQUuid = "be07ebf7-63f1-4239-a68c-d07592035fe5" -%}
{%- set legalBasisQUuid = "400a2928-a16c-4918-9e22-25d7dad572ff" -%}

{%- set dataMinimizationQUuid = "fc33fcbe-eb3a-4aa3-bee7-f89e62fdce6e" -%}

{%- set dataQualityQUuid = "6f89afe1-2b95-4f53-ac38-64daef6edfa5" -%}
{%- set storageDurationQUuid = "050a7e44-312d-4a12-9d5b-e217ba27ff12" -%}

{#Chapitre 6 - subjects rights #}
{%- set subjectsRightsCUuid = "7a7b2a57-a9dc-4df0-a8a3-3210f169f1b8" -%}

{%- set collectDataQUuid = "770b91b7-dfdd-4ec0-ad65-30e8675c2089" -%}   

{%- set collectDataYesAUuid = "7e30f902-ce3b-44c4-a8ac-87a5faa3b1f5" -%}

{%- set subjectsInformedQUuid = "f4fdf3c6-2abc-4536-8a0d-1f3363ea888d" -%}
{%- set subjectsConsentQUuid = "d14286ce-2c3f-48f3-ae8f-90a6e7c6f3b1" -%}

{%- set accessRightsQUuid = "37f149cc-c290-49ec-b443-33c6669ad73a" -%}
{%- set rightsToRectifyQUuid = "b435fdee-023e-4feb-8d85-6d4f6d816bd5" -%}

{%- set rightToRestrictQUuid = "9cbdabe0-4194-488c-b113-dbc044750b04" -%}

{%- set subprocessorsQUuid = "1d16ce8d-6164-433b-ad53-b5d92afa124c" -%}
{%- set subprocessorsYesAUuid = "99806163-e0c3-450a-963c-3a519f49513b" -%}
{%- set subprocessorsYesDescibeQUuid = "3314ed0e-aa73-43b5-9989-4e01aa68e456" -%}

{%- set transferEUEEAQUuid = "47d60192-d77d-400f-b04d-ebcca9557c61" -%}
{%- set transferEUEEAYesAUuid = "de648bdb-4f77-4ed2-83a8-191c17922519" -%}
{%- set transferEUEEAYesMeasuresQUuid = "ff4fb7d8-455b-48ee-8b9e-afa3f592ca4e" -%}





{%- set collectDataNoAUuid = "5acdb15e-c861-44de-83f9-56c52180ffbf" -%}




{#Chapter 7 - Risk assessment #}

{%- set riskAssessmentCUuid = "f44cdec2-2652-47de-acc8-9a17e5b5a34f" -%}

{%- set plannedControlsQUuid = "445cd56b-fef8-47f4-870b-35e3dd2cc488" -%}

{%- set controlSpecialQUuid = "b4153d0a-416f-4145-bce2-1c69ab29a8c1" -%}
{%- set generalControlsQUuid = "0f59c1f4-e680-45d3-b625-2cdef408fec1" -%}

{%- set organizationalControlsQUuid = "b7a29c7e-25c2-4311-b939-a32fc3d0d69e" -%}
{%- set riskAssesmentMatrixQUuid = "1c4f6a2f-f407-40e7-8dfa-87f86ec6c5ae" -%}














