{# Used UUID Paths #}
{# Chapter 1 - Administrative details #}
{%- set adminDetailsCUuid = "887a2b4e-cbcc-4777-890e-477bf360eaf8" -%}

{%- set contributorsQUuid = "eb544f6c-37c5-4dbf-bae6-1e2178c1b09f" -%}
{%- set contributorNameQUuid = "6155ad47-3d1e-4488-9f2a-742de1e56580" -%}
{%- set projectNameQUuid = "91321d3c-fd30-4fde-82da-994488a7b877" -%}



